@using ModernSoftwareDevelopmentAssignment5.Controllers;
@model ModernSoftwareDevelopmentAssignment5.Models.Song

@{
    ViewData["Title"] = "AddToCart";
}

<h4>Add song to cart?</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="price" />
            
            <div class="form-group">
                <input type="submit" value="ID, price" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@*@{
    
    //SongsController.AddToCart();
} *@

<div>
    <a asp-action="Index">Back to List</a>
</div>

